# hdfs
/solr/example/hdfs



/*~

/.idea
/*.iml
/*.ipr
/*.iws


/.caches
/prj.el





/lucene/.idea
/lucene/*.iml
/lucene/*.ipr
/lucene/*.iws


/lucene/prj.el

# ./lucene/core


# ./lucene/core/src/java/org/apache/lucene/util/automaton


# ./lucene/test-framework
